* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    position: absolute; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
h1 {
    color: rgba(255, 94, 0, 0.856);
    font-family: 'Raleway', sans-serif;
}
.inscriptionForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 1px;
    width: 300px;
}
.bouton {
    background-color: rgba(16, 128, 194, 0.781);
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    width: 300px;
}