.entete {
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 2px solid rgba(8, 8, 8, 0.856);
    display: flex;
    align-items: center;
    padding-inline-start: 10%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#Mdpoublier {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    width: 350px;
    padding: 20px;
    border: 2px solid rgba(255, 94, 0, 0.856);
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#Mdpoublier h3 {
    font-size: 30px;
}
.mdpoublier {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#Mdpoublier input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.bouton {
    background-color: rgba(16, 128, 194, 0.781);
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    width: 300px;
}
.login {
  text-align: center;
  font-size: 13px;
}