* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    
}
.entete {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid rgba(8, 8, 8, 0.856);
    display: flex;
    align-items: center;
    padding-inline-start: 10%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
#Mdpoublier {
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 350px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    align-items: center;
}
#Mdpoublier h3 {
    font-size: 30px;
}
.mdpoublier {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#Mdpoublier input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.bouton {
    background-color: rgba(16, 128, 194, 0.781);
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    width: 300px;
}
.login {
    text-align: center;
    font-size: 13px;
}